<h1>Listing errors</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Location</th>
    <th>Latest</th>
    <th>Count</th>
  </tr>

<% @error_groups.each do |error_group| %>
  <tr class="error_row">
    <td><%=h error_group.message %></td>
    <td><%=h error_group.location %></td>
    <td><%=h error_group.latest.to_s(:long) %></td>
    <td><%=h error_group.count %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New error_group', new_error_group_path %>
