<h1>New error</h1>

<% form_for(@error) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :controller %><br />
    <%= f.text_field :controller %>
  </p>
  <p>
    <%= f.label :action %><br />
    <%= f.text_field :action %>
  </p>
  <p>
    <%= f.label :exception_type %><br />
    <%= f.text_field :exception_type %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :request_type %><br />
    <%= f.text_field :request_type %>
  </p>
  <p>
    <%= f.label :stack_trace %><br />
    <%= f.text_area :stack_trace %>
  </p>
  <p>
    <%= f.label :env_vars %><br />
    <%= f.text_area :env_vars %>
  </p>
  <p>
    <%= f.label :session %><br />
    <%= f.text_area :session %>
  </p>
  <p>
    <%= f.label :params %><br />
    <%= f.text_area :params %>
  </p>
  <p>
    <%= f.label :hostname %><br />
    <%= f.text_field :hostname %>
  </p>
  <p>
    <%= f.label :pid %><br />
    <%= f.text_field :pid %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', errors_path %>