<p>
  <b>Controller:</b>
  <%=h @error.controller %>
</p>

<p>
  <b>Action:</b>
  <%=h @error.action %>
</p>

<p>
  <b>Exception type:</b>
  <%=h @error.exception_type %>
</p>

<p>
  <b>Message:</b>
  <%=h @error.message %>
</p>

<p>
  <b>Url:</b>
  <%=h @error.url %>
</p>

<p>
  <b>Request type:</b>
  <%=h @error.request_type %>
</p>

<p>
  <b>Stack trace:</b>
  <%=h @error.stack_trace %>
</p>

<p>
  <b>Env vars:</b>
  <%=h @error.env_vars %>
</p>

<p>
  <b>Session:</b>
  <%=h @error.session %>
</p>

<p>
  <b>Params:</b>
  <%=h @error.params %>
</p>

<p>
  <b>Hostname:</b>
  <%=h @error.hostname %>
</p>

<p>
  <b>Pid:</b>
  <%=h @error.pid %>
</p>


<%= link_to 'Edit', edit_error_path(@error) %> |
<%= link_to 'Back', errors_path %>